@gm:registry=https://proget2.mapmakers.ru/npm/npm
//proget2.mapmakers.ru/npm/npm:_auth=YXBpOjQ4YktmUnI5VFpaakV5a2Jta0RC
//proget2.mapmakers.ru/npm/npm:always-auth=true
//proget2.mapmakers.ru/npm/npm:email=api@proget2.mapmakers.ru
//proget2.mapmakers.ru/npm/:_password="UEBzc3cwcmQ="
//proget2.mapmakers.ru/npm/:username=admin
//proget2.mapmakers.ru/npm/:email=admin@proget.mapmak.dom
//proget2.mapmakers.ru/npm/:always-auth=false
